html{
    font-size: 100%;
    box-sizing: content-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: $font-med;
    line-height: 1.3;
    color: $textColor;
    font-weight: 300;
    overflow-x: hidden;
    background-color: $bckColor;
    cursor: default;
}


a, a:visited,a:hover{
    text-decoration: none;
    color: $darkBlue;
}




h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: $font-xlg;
}

h2{
    font-size: $font-lg;
    font-weight: 400;
}

h3{
    font-weight: 700;
    font-size: $font-xxmed;
}
 
h4{
    font-size: $font-med;
    font-weight: 500;
}

h5{
    font-size: $font-sm;
    font-weight: 500;
}

    
section{
    font-size: $font-sm;
    font-weight: 400;
}




.container{
    width: 100%;
    max-width: $screen-width; // width
    background-color: white;
    margin: 3rem auto;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);

}

.content{
    height:  100%;
}

.two-col{
//two columns
display: flex;
align-items: stretch;
}


//left column
.left{
    padding-left: 5rem;
    padding-right: 2rem;
    flex: 70%;
}

//right column
.right{
    background-color: $accentColor;
    padding-left: 2rem;
    padding-right: 4rem;
    flex: 30%;
}