.header{

    &__title{
    padding-top: 3rem;
    padding-bottom: 1rem;
    
    }
}

.contacts{
    // padding-top: 1.5rem;
    // padding-bottom: 1.9rem;

    padding-top: 1.4rem;
    padding-bottom: 1.5rem;

    &__item + &__item {
        margin-top: 0.5rem;
        
    }
    h3{
        //hide h3 on desktop
        display: none;   
    }
    i{
        //icons
        color: $grayishBlue;
        margin-right: 1rem;
        transform: scale(1.5);
        opacity: 0.5;
    }
}