.sub {

    padding-bottom: 3rem;

    section {
        margin-top: 1rem;
    }

    ul {
        //padding-left:1rem;
        padding: 0;
        margin: 1rem 0 0 0;
        list-style-type: none;
        font-weight: 500
    }

    li+li{
        margin-top: 0.275rem;
    }


    .details {
        color: $grayishBlue;
    }

}