//Colors
$darkBlue:  hsl(233, 26%, 24%);
$grayishBlue: #6E6F71;

$white: hsl(0, 0%, 100%);
$bckColor: hsl(240, 7%, 14%);
$textColor: hsl(0, 0%, 8%);
$accentColor: #E2F2E8;

//Icon-colors
$pythonColor: #67CFEE;
$sqlColor: #cdb4db;
$rColor: #eaac8b;
$tableauColor: #90F4C7;
$webColor: #eaac8b;
$cppColor: #cdb4db;


//Fonts

$font-xsm: 0.625rem; //10px
$font-sm: .813rem; //10px
$font-med: 1rem; //16px
$font-xmed: 1.25rem; //20px
$font-xxmed: 1.25rem; //20px
$font-lg: 1.625rem; //33px
$font-xlg: 2.625rem;//2.063rem; //42px


$a4-width: 620px;

$screen-width: 800px;