//Colors
$darkBlue:  hsl(233, 26%, 24%);
$grayishBlue: hsl(233, 8%, 62%);

$white: hsl(0, 0%, 100%);
$bckColor: hsl(240, 7%, 14%);
$textColor: hsl(0, 0%, 8%);
$accentColor: #E2F2E8;

//Fonts

// $font-xsm: 0.5625rem; //9px
// $font-sm: 0.625rem; //10px
// $font-med: 0.75rem; //12px
// $font-xmed: 0.875rem; //14px
// $font-xxmed: 1rem; //16px
// $font-lg: 1.125rem; //18px
// $font-xlg: 2.25rem; //36px



$font-xsm: 0.625rem; //10px
$font-sm: .813rem; //10px
$font-med: 1rem; //16px
$font-xmed: 1.25rem; //20px
$font-xxmed: 1.25rem; //20px
$font-lg: 1.625rem; //33px
$font-xlg: 2.625rem;//2.063rem; //42px


$a4-width: 620px;

$screen-width: 800px;